node_modules
# Keep environment variables out of version control
.env
/generated/prisma
McczOkssXCmEme3d
540402856840-42dhehhh4uml5a6uamipff7528l30oe9.apps.googleusercontent.com
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
.env.local